﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="PointOfSales.Web.login.index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <div>
        <div>
            <label for="username-id">Username</label>
            <input type="text" name="username" id="username-id" />
        </div>
        <div>
            <label for="password-id">Username</label>
            <input type="password" name="password" id="password-id" />
        </div>
         <div>
            <button type="submit" name="processlogin" >Login</button>
        </div>
    </div>
</body>
</html>